In [3]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Newedge@123"
)
print(mydb)
# mycursor = mydb.cursor()
# mycursor.execute('create database ineuron')

# this is my mysql workbench user and password
# package is installing but showing no module found 'mysql'

<mysql.connector.connection.MySQLConnection object at 0x7fedf101df40>

In [4]:
cur = mydb.cursor()

In [5]:
cur.execute('show databases')

In [6]:
for i in cur:
    print(i)

('customery',)
('ineuron',)
('information_schema',)
('Intro_Sql',)
('mysql',)
('new_schema',)
('performance_schema',)
('sql_hr',)
('sql_inventory',)
('sql_invoicing',)
('sql_store',)
('sys',)
('test',)

In [7]:
cur.execute('create database fsds_db')

In [10]:
cur.execute("use database fsds_db")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'database fsds_db' at line 1

In [11]:
cur.execute("use fsds_db")

In [12]:
cur.execute('create table fsds1 (name varchar(40),roll_no int, mail_id varchar(50))')

In [20]:
cur.execute("insert into fsds1 values ('anil',344,'anil@gmail.com')")

In [19]:
mydb.commit()

In [21]:
cur.execute("insert into fsds1 values ('anbc',354,'anbc@gmail.com')")

In [22]:
mydb.commit()

In [37]:
mycursor.execute('select * from fsds_db.fsds1')

In [38]:
for i in mycursor:
    print(i)

('anil', 344, 'anil@gmail.com')
('anil', 344, 'anil@gmail.com')
('anil', 344, 'anil@gmail.com')
('anil', 344, 'anil@gmail.com')
('anbc', 354, 'anbc@gmail.com')
('anbc', 354, 'anbc@gmail.com')

In [31]:
# mycursor.execute('create table ineuron.fsds(studentid int , firstname varchar(50) , lastname varchar(50) , registrationdate DATE,class varchar(20) , course_name varchar(50))')

ProgrammingError: 1050 (42S01): Table 'fsds' already exists

In [33]:
mycursor.execute("""insert into ineuron.fsds values (123 , 'sudhanshu', 'kumar','2022-11-11','sql','fsds'),
(124 , 'r', 'singh','2022-11-11','sql','fsds'),
(125 , 'rohan', 'kumar','2022-11-11','sql','fsds'),
(126 , 'shreeja', 'maynale','2022-11-11','sql','fsds'),
(127 , 'shubham', 'vedi','2022-11-11','sql','fsds'),
(128 , 'abhishek', 'saini','2022-11-11','sql','fsds'),
(129 , 'manoj', 'tripathi','2022-11-11','sql','fsds'),
(130 , 'mayur ', 'gupta','2022-11-11','sql','fsds'),
(131 , 'sumay', 'cahtterjee','2022-11-11','sql','fsds'),
(132 , 'raunak', 'shgaow','2022-11-11','sql','fsds'),
(133 , 'danish', 'khan','2022-11-11','sql','fsds')""")

In [34]:
mydb.commit()

In [35]:
mycursor.execute('select * from ineuron.fsds')

In [36]:
for i in mycursor:
    print(i)

(123, 'sudhanshu', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(124, 'r', 'singh', datetime.date(2022, 11, 11), 'sql', 'fsds')
(125, 'rohan', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(126, 'shreeja', 'maynale', datetime.date(2022, 11, 11), 'sql', 'fsds')
(127, 'shubham', 'vedi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(128, 'abhishek', 'saini', datetime.date(2022, 11, 11), 'sql', 'fsds')
(129, 'manoj', 'tripathi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(130, 'mayur ', 'gupta', datetime.date(2022, 11, 11), 'sql', 'fsds')
(131, 'sumay', 'cahtterjee', datetime.date(2022, 11, 11), 'sql', 'fsds')
(132, 'raunak', 'shgaow', datetime.date(2022, 11, 11), 'sql', 'fsds')
(133, 'danish', 'khan', datetime.date(2022, 11, 11), 'sql', 'fsds')
(123, 'sudhanshu', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(124, 'r', 'singh', datetime.date(2022, 11, 11), 'sql', 'fsds')
(125, 'rohan', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(126, 'shreeja', 'maynale', datetime.date(2022, 11, 11), 'sql', 'fsds')
(127, 'shubham', 'vedi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(128, 'abhishek', 'saini', datetime.date(2022, 11, 11), 'sql', 'fsds')
(129, 'manoj', 'tripathi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(130, 'mayur ', 'gupta', datetime.date(2022, 11, 11), 'sql', 'fsds')
(131, 'sumay', 'cahtterjee', datetime.date(2022, 11, 11), 'sql', 'fsds')
(132, 'raunak', 'shgaow', datetime.date(2022, 11, 11), 'sql', 'fsds')
(133, 'danish', 'khan', datetime.date(2022, 11, 11), 'sql', 'fsds')
(123, 'sudhanshu', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(124, 'r', 'singh', datetime.date(2022, 11, 11), 'sql', 'fsds')
(125, 'rohan', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(126, 'shreeja', 'maynale', datetime.date(2022, 11, 11), 'sql', 'fsds')
(127, 'shubham', 'vedi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(128, 'abhishek', 'saini', datetime.date(2022, 11, 11), 'sql', 'fsds')
(129, 'manoj', 'tripathi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(130, 'mayur ', 'gupta', datetime.date(2022, 11, 11), 'sql', 'fsds')
(131, 'sumay', 'cahtterjee', datetime.date(2022, 11, 11), 'sql', 'fsds')
(132, 'raunak', 'shgaow', datetime.date(2022, 11, 11), 'sql', 'fsds')
(133, 'danish', 'khan', datetime.date(2022, 11, 11), 'sql', 'fsds')
(123, 'sudhanshu', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(124, 'r', 'singh', datetime.date(2022, 11, 11), 'sql', 'fsds')
(125, 'rohan', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(126, 'shreeja', 'maynale', datetime.date(2022, 11, 11), 'sql', 'fsds')
(127, 'shubham', 'vedi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(128, 'abhishek', 'saini', datetime.date(2022, 11, 11), 'sql', 'fsds')
(129, 'manoj', 'tripathi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(130, 'mayur ', 'gupta', datetime.date(2022, 11, 11), 'sql', 'fsds')
(131, 'sumay', 'cahtterjee', datetime.date(2022, 11, 11), 'sql', 'fsds')
(132, 'raunak', 'shgaow', datetime.date(2022, 11, 11), 'sql', 'fsds')
(133, 'danish', 'khan', datetime.date(2022, 11, 11), 'sql', 'fsds')